<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/read</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10 text-white">
        <a class=" mb-5 text-blue-500 text-2xl" href="/">Home</a>

        <h1 class="text-2xl traking-tighter">All user</h1>
        <div class="users flex gap-3 flex-wrap">
            <% if(user.length > 0){ %>
                <% user.forEach( function(user){  %> 
                    <div class="user w-72 p-4 bg-zinc-800 rounded-md ">
                        <div class="w-full h-52 rounded-md bg-zinc-500 overflow-hidden">
                            <img class="w-full h-full object-cover"  src="  <%= user.img %> " alt="source error" />
                        </div>
                        <h3 class="text-xl mt-3 traking-tighter"><%= user.name %></h3>
                        <h4 class="text-zinc-500"><%= user.email %></h4>
                        <div class="flex gap-3 mt-10">
                            <a class="text-zinc-500" href="/edit/<%= user._id %>">edit user</a >
                            <a class="text-red-500" href="/delete/<%= user._id %>">Delete user</a>
                        </div>
                    </div>
                <% }) %> 
                        <% } else { %>
                <p class="text-2xl text-zinc-400 ">no user yet</p>
                <% } %>
        </div>
    </div>
</body>
</html>